
@font-face {
	font-family: 'Intro-Bold';
	src: url('../assets/fonts/intro-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/fonts/intro-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/fonts/intro-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/fonts/intro-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/fonts/intro-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/intro-bold.svg#intro-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Intro-Book';
	src: url('../assets/fonts/intro-book.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/fonts/intro-book.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/fonts/intro-book.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/fonts/intro-book.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/fonts/intro-book.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/intro-book.svg#intro-book') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Intro-Regular';
	src: url('../assets/fonts/intro-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/fonts/intro-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/fonts/intro-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/fonts/intro-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/fonts/intro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/intro-regular.svg#intro-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

/* Set default font styles globally */
body {
  font-family: 'Intro-Regular', sans-serif;
  margin: 0;
  padding: 0;
}
